@*Happy Earth ASP - Index View; AM & TS*@

@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/site.css" rel="stylesheet" />

@if (TempData["success"] != null) //if user has just deleted an account and been redirected to index view, success message displays
{
    <div class="alert alert-success">@TempData["success"]</div>
}

<section>
    <div id="welcome">
        <img src="/images/fire.png" id="welcomeImage" alt="Friends enjoying time in nature">
        <h2 id="tagline">Your affordable, sustainable fashion destination</h2>
    </div>

    <div id="browse">
        <button id="browseButton"><a asp-area="" asp-controller="Shop" asp-action="Search">Browse Hundreds of Unique Items</a></button>
    </div>
    <div id="launch">
        <button id="create"><a asp-area="" asp-controller="Account" asp-action="SignUp">Create Account</a></button>
        <button id="login"><a asp-area="" asp-controller="Account" asp-action="LogIn">Sign In</a></button>
        <button id="learn"><a asp-area="" asp-controller="Home" asp-action="About">Learn More</a></button>
    </div>

</section>
