@*Happy Earth ASP - Deleted Order Confirmation View; AM & TS*@

@{
    ViewData["Title"] = "Delete Order";
}

@*display result of order deletion request*@
@if (TempData["success"] != null)
{

    <div class="alert alert-success">@TempData["success"]</div>
}
else if (TempData["failure"] != null)
{
    <div class="alert alert-warning">@TempData["failure"]</div>
}

<div class="text-center">
    <p>
        <a asp-action="Search" asp-controller="Shop">Return to Shopping</a>
    </p>
</div>

